/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-oct-2018, 20:30:44
    Author     : osedg
*/

/* GENERAL STYLES */
* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: lightcoral;
    background: #ddd;
    text-align: center;
    padding: .5em;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
}

.container {
    background: #ddd;
    border: 4px solid lightcoral;
    padding: 1em;
    margin-top: 4em;
    max-width: 1000px;
    
}

/* INDEX & UNDEFINED PAGES */
.container p {
    color: lightcoral;;
    text-shadow: 0 0 4px white;
}
            
.container > p,
.container > form {
    text-align: center;
}

/* MONTHS */
.hoy {
    background-color: lightcoral;
    color: white !important;
    font-size: 1.1em;
    padding: .1em;
}

.prev, .pos {
    color: #aaa !important;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: lightcoral;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.weekdays {
    display: grid;
    font-weight: 900;
    flex-direction: row;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 1em;
    background-color: #ddd;
}

.weekdays li {
    font-size: 1.4em;
    padding: 1em;
    color: #666;
    text-align: center;
}

.days {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(7, 1fr);
    padding: 1em;
    background: #eee;
}

.days li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: lightcoral;
}

.days li .active {
    padding: 5px;
    background: lightcoral;
    color: white !important;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}